h1 {
    font-family: 'Sofia', cursive;
    position: center;
    margin: 2000px;
    font-size: 75px;
    color: rgb(210, 187, 230)
}

#header>h1 {
    text-align: center;
    text-emphasis: bold;
    margin: 30px;
    margin-top: 200px;
    position: center;
    
}

h2 {
    font-family: 'Sofia', cursive;
    color: rgb(210, 187, 230);
    margin-bottom: -11%;
}

#navigation {

    background-color: rgb(182, 137, 168);
    position: fixed;
    position: sticky;
    top: 0;
    grid-area: navigation;
}

#navigation>ul {

    background-color: rgba(160, 89, 101, .7);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;



}

#navigation>ul>li {
    font-family: 'Sofia', cursive;
    font-size: 25px;
    color: rgb(210, 187, 230);


}

#navigation .dropdown {
    display: none;
    left: 2;
    position: relative;
    top: 0px;

}

#navigation a:hover+.dropdown,
#navigation a+.dropdown:hover {
    display: block;
}

body {
    background: url(https://lh3.googleusercontent.com/t_KgLB-Xdqy98uXrc_grd-lGrfZakmThz1sqGQoL-0gMm_dQqE8AW4EPrWyvJAGFBTojag-XFKXwp82Ly1sqUhFxW0uyY9zNtmNJZPWLrB3uOrYtbbITrV7zW-E-RNs1-p9FZuwTARVTMgvYGzWdesdYyOGLyCXVGQ15Vos-5TE8Q4r2m_vMynkwXNyKUbbWpR5MwKdED0vIpLqFksEFlUtSlAexL8PWvK-A2uU9TxSHaqrRCejbSi6m6yVlIWn8yakhbFIFv9T0Syd-P381MS8p0NzEDoZPEJe_KLP5YzERYLGrYQRiVyLgNYKG8OGp34LZa1gD_ZzfaKS4R70ddty6mz07ASPt0cqa4BDf6ujJgodxOJdIa_0nUvQFlKADvnk2JeniwAB6gekFVy0KhhwCB7vx5L6Ou-9_TRbHM7OSCm6fBkVPfpHRWVyNNIC9vWKVyEVuUtCWDjdWgXvG1Dfb2ogU58QhRIbBMFn7hwU4V3sJQaVVhfu18nSMwIGiVTiZziYWW2zqmBodMLRJI-ni6xytL1G5cB3hx6L1N4GF2jrpSSb7i6N-f5mEA1kvCoVuXz2o6Han8T7V-HodjgNZVXBhaEcXR8VnGbOmODsnV9Ptgsy4sMY1vrqc_mBimCul3LFPeoeC77XnUxo-Caww=w935-h1226-no);
    color: rgb(210, 187, 230);
}

#content {
    background-color: rgba(160, 89, 101, .7);
    margin: 50px;
    padding: 50px;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
    grid-area: content;
    margin-top: -150px;

}




h2 {
    margin-left: 11%;
    padding-bottom: 15%;
    padding-top: 7%;
    font-size: 36px;
    margin-bottom: -5%;
}

p {
    background-color: rgba(160, 89, 101, .7);
    margin: 30px;
    color:rgb(233, 217, 252);
    font-size: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%
    }

    50% {
        left: -200%
    }

    70% {
        left: -200%
    }

    75% {
        left: -300%
    }


    95% {
        left: -300%
    }

    100% {
        left: -400%
    }
}

#slider {
    overflow: hidden;
    margin-top: -20%;
}

#slider figure img {

    width: 10%;
    float: left;
  

}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slider infinite;
    margin-top: 20%;
}
.container{
    background-color:rgba(160, 89, 101, .7);
    font-size: 40px;
    font-family: 'Sofia',cursive;
}
.grey {
    width:100vh;
    height:100vh;
    opacity: 15%;

}

a {
    color: rgb(210, 187, 230);
    
}